{
  "ENV": "LOCAL",
  "APP_NAME": "Starter App",
  "COMPANY_EMAIL": "hello@starter.com",
  "COMPANY_PHONE": "021-1234-567",
  "COMPANY_FACEBOOK_LINK": "https://web.facebook.com/starterapp",
  "COMPANY_INSTAGRAM_LINK": "https://instagram.com/starterapp",
  "HTTP_PORT": 7000,
  "DB_URL": "jdbc:postgresql://127.0.0.1:5432/boilerplate_v1",
  "DB_USER": "dml_user",
  "DB_PASSWORD": "dml_user_password",
  "DB_DRIVER_CLASSNAME": "org.postgresql.Driver",
  "CURRENT_DB_MIGRATION_NAME": "initial DB migration",
  "CURRENT_DB_MIGRATION_VERSION": "0.1",
  "CURRENT_DB_MIGRATION_DROPS_FOR": "",
  "FLYWAY_DB_USER": "ddl_user",
  "FLYWAY_DB_PASSWORD": "ddl_user_password",
  "ENABLE_DATA_INITIALIZER": false,
  "MAX_LOGIN_ATTEMPT": 5,
  "AUTO_UNLOCKED_ACCOUNT_AFTER": 1,
  "CORS_ALLOWED_ORIGIN_PATTERN": ".*",
  "AES_ENCRYPTION_TOKEN": "Starter7905b2f8a74e",
  "JWT_AUTH_KEYSTORE_PATH": "keystore.jceks",
  "JWT_AUTH_KEYSTORE_PASSWORD": "HL-Core-Team-101019",
  "JWT_AUTH_EXPIRES_IN_SECONDS": 2592000,
  "JWT_AUTH_ALGORITHM": "HS256",
  "FE_ADMIN_BASE_URL": "http://localhost:3000",
  "API_BASE_URL": "http://localhost:7000",
  "UPLOADED_FILE_RETENTION_PERIOD_IN_HOURS": 24,
  "DISABLE_SCHEDULER": true,
  "TEMP_FILE_CRON_EXPRESSION": "0 0 0/1 1/1 * ? *",
  "DISABLE_EVENTBUS_SERVICE": false,
  "EVENTBUS_SEND_TIMEOUT": 300000,
  "MAX_FILE_SIZE_IN_MB": 5,
  "MAX_IMAGE_FILE_SIZE_IN_MB": 5,
  "AVATAR_THUMBNAIL_SIZE_IN_PIXEL": 200,
  "AVATAR_ORIGINAL_SIZE_IN_PIXEL": 700,
  "BANNER_IMAGE_ORIGINAL_SIZE_IN_PIXEL": 700,
  "SLIDESHOW_IMAGE_ORIGINAL_SIZE_IN_PIXEL": 930,
  "SUPPORT_EMAIL": "danu.argi@gmail.com",
  "DISABLE_MAILER": false,
  "MAILER_SENDER": "Starter App",
  "MAILER_USERNAME": "api",
  "MAILER_PASSWORD": "mailer_password",
  "MAILER_URL": "https://api.mailgun.net/v3/picassorewards.com/messages",
  "DISABLE_TWILIO_API": true,
  "TWILIO_ACCOUNT_SID": "twilio_account_sid",
  "TWILIO_AUTH_TOKEN": "twilio_auth_token",
  "TWILIO_REGION": "us1",
  "TWILIO_EDGE": "singapore",
  "TWILIO_SENDER_NAME": "Starter App",
  "TWILIO_SENDER_PHONE_NUMBER": "twilio_sender_number",
  "DISABLE_AWS_S3": trus,
  "AWS_S3_BASE_URL": "aws_s3_base_url",
  "AWS_S3_ALIAS_URL": "aws_s3_alias_url",
  "AWS_S3_ACCESS_KEY": "aws_s3_access_key",
  "AWS_S3_SECRET_KEY": "aws_s3_secret_key",
  "AWS_S3_REGION_NAME": "syd1",
  "AWS_S3_BUCKET_NAME": "jogjanode",
  "AWS_S3_AVATAR_FOLDER": "avatar",
  "AWS_S3_BANNERS_FOLDER": "b",
  "AWS_S3_LOGO_FOLDER": "logo",
  "DISABLE_GOOGLE_API": true,
  "GOOGLE_API_CLIENT_ID": "google_api_client_id",
  "GOOGLE_API_CLIENT_SECRET": "google_api_client_secret",
  "GOOGLE_BASE_URL": "https://www.google.com",
  "GOOGLE_RECAPTCHA_SERVER_KEY": "google_recaptcha_server_key",
  "DISABLE_FIREBASE": true,
  "FIREBASE_PROJECT_ID": "firebase_project_id",
  "FIREBASE_API_BASE_URL": "firebase_api_base_url",
  "FIREBASE_SERVICE_ACCOUNT_KEY": "firebase_service_account_path",
  "FIREBASE_WEB_PUSH_TTL": 86400,
  "FIREBASE_WEB_PUSH_URGENCY": "normal",
  "DISABLE_SLACK_API": true,
  "SLACK_WEBHOOK_URL": "slack_webhook_url"
}